Html,
Body {
  Padding: 0;
  Margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.barra-redes {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  z-index: 100;
}
.barra-redes a {
  padding: 0.5%;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: black;
}

.slider_principal {
  width: 100%;
  height: 300px;
  margin: 50px auto 0;
  overflow: hidden;
  align-items: center;
  margin-bottom: 0%;
  margin-top: 0%;
}
.slider_principal ul {
  display: flex;
  padding: 0;
  width: 500%;
  animation: slide 20s infinite alternate ease-in-out;
}
.slider_principal li {
  width: 100%;
  list-style: none;
}
.slider_principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: contain;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  14% {
    margin-left: 0;
  }
  24% {
    margin-left: -100%;
  }
  34% {
    margin-left: -100%;
  }
  44% {
    margin-left: -200%;
  }
  54% {
    margin-left: -200%;
  }
  64% {
    margin-left: -300%;
  }
  74% {
    margin-left: -300%;
  }
  84% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}
.contain {
  display: flex;
  justify-content: center;
  background-color: black;
}

.contenido {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
  background-color: black;
}
@media (min-width: 991px) {
  .contenido {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    justify-items: center;
  }
}
.contenido h3 {
  margin: 0%;
  padding: 0%;
  padding-left: 10%;
  padding-top: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  align-items: center;
}

.noticia_uno {
  background-image: url(../Imagenes/battaglia.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.noticia_dos {
  background-image: url(../Imagenes/dobleindemnizacion.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.noticia_tres {
  background-image: url(../Imagenes/incendio.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.doctrina_uno {
  background-image: url(../Imagenes/tecnico.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.doctrina_dos {
  background-image: url(../Imagenes/prosti.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.doctrina_tres {
  background-image: url(../Imagenes/metaversote.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.actividad_uno {
  background-image: url(../Imagenes/saopaolo.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.actividad_dos {
  background-image: url(../Imagenes/gante.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.actividad_tres {
  background-image: url(../Imagenes/mendoza.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.mas {
  text-align: right;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: black;
}
.mas a {
  text-decoration: none;
  color: white;
}

#contenedor {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
#contenedor p {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 0%;
  padding: 20px;
  text-transform: uppercase;
  border: 10px;
  background-size: 5px;
}

#izquierdo {
  border-style: solid;
  border-color: black;
  flex: 1;
  background-image: linear-gradient(to left, #000000 0%, #606060 27%, #ffffff 53%, #606060 77%, #000000 100%);
  background-repeat: no-repeat;
}
#izquierdo a {
  text-decoration: none;
}
#izquierdo p:hover {
  transform: scale(1.5);
}

#derecho {
  border-style: solid;
  border-color: black;
  flex: 1;
  background-image: linear-gradient(to left, #000000 0%, #606060 27%, #ffffff 53%, #606060 77%, #000000 100%);
  background-repeat: no-repeat;
}
#derecho a {
  text-decoration: none;
}
#derecho p:hover {
  transform: scale(1.5);
}

h1 {
  font-family: "Cormorant SC", serif;
  color: black;
  background-color: #CCD1D1;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  margin: 0%;
  margin-bottom: 1%;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #CCD1D1;
  margin: 0%;
  padding: 2%;
}

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

.gaston {
  width: 100px;
  height: auto;
  background-image: url(../Imagenes/foto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer_uno {
  display: flex;
  background-color: #CCD1D1;
}
.footer_uno p {
  padding: 0%;
  margin: 0%;
}
.footer_uno p a {
  text-decoration: none;
  color: black;
}
.footer_uno p a:hover {
  color: grey;
}

.copy {
  display: flex;
  justify-content: center;
  background-color: #CCD1D1;
  padding-top: 1%;
  border-top: 2px solid black;
}

main p {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: justify;
  margin: 0%;
  padding: 20px;
  text-transform: uppercase;
  border: 10px;
  background-size: 5px;
}

.pie {
  display: flex;
  justify-content: start;
  align-items: stretch;
  border: solid 5px solid black;
}
.pie p {
  margin: 0%;
}
.pie a {
  color: blue;
}
.pie img {
  width: 82px;
}

.proximas_actividades {
  display: flex;
  background-color: black;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.proximas_actividades div a {
  text-align: center;
}

.main_cursos {
  background-color: black;
}
.main_cursos p {
  background: #CCD1D1;
}
.main_cursos h1 {
  font-family: "Cormorant SC", serif;
  color: black;
  background-color: #CCD1D1;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
}
.main_cursos h3 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.main_cursos h4 {
  background-color: #CCD1D1;
  text-transform: uppercase;
  text-align: center;
  font-size: medium;
  margin-top: 2%;
  margin-bottom: 2%;
}
.main_cursos img {
  width: 100%;
  height: auto;
}
.main_cursos ul {
  padding: 0;
}

.barcelona {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/barcelona.jpeg);
  background-size: cover;
}

.granada {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/granada.jpg);
  background-size: cover;
}

.saopaolo {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/saopaolo.jpg);
  background-size: cover;
}

.mendoza {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/mendoza.jpg);
  background-size: cover;
}

.gante {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/gante.jpg);
  background-size: cover;
}

.cont_ultimas {
  display: flex;
  background-color: black;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.directores {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/tecnico.jpg);
  background-size: cover;
}

.prosti {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/prosti.jpg);
  background-size: cover;
}
@media (min-width: 481px) {
  .prosti {
    width: 80%;
    height: 200px;
    border: 2px solid white;
    background-size: cover;
    margin-top: 2%;
    margin-bottom: 2%;
    background-image: url(../Imagenes/prostituta.jpg);
    background-size: cover;
  }
}

.metaverso {
  width: 80%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url(../Imagenes/metaversote.jpg);
  background-size: cover;
}
@media (min-width: 481px) {
  .metaverso .metaverso {
    width: 80%;
    height: 200px;
    border: 2px solid white;
    background-size: cover;
    margin-top: 2%;
    margin-bottom: 2%;
    background-image: url(../Imagenes/metaversodos.jpg);
    background-size: cover;
  }
}

.com_foto,
.com_img {
  display: flex;
  justify-content: center;
}

.com_nombre h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid black;
  font-family: "Cormorant SC", serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 50px;
}

.asesora {
  background-color: black;
}
.asesora h2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.servicios {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}
.servicios li {
  border: 2px solid white;
  text-align: center;
}
.servicios h3 {
  text-decoration: none;
}

.forms {
  border: 10px solid black;
  background-color: #CCD1D1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.forms span {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.enviar {
  display: inline;
}

.form p {
  font-family: "roboto", sans-serif;
}

.tucuenta img {
  padding-left: 370px;
}

@supports (object-fit: cover) {
  .box img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.comunidad img {
  display: flex;
  justify-content: center;
}

#cyp {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.main_comunidad {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_comunidad h1 {
  font-family: "Cormorant SC", serif;
  color: black;
  background-color: #CCD1D1;
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.section_ultimas {
  display: flex;
  justify-content: center;
}

.ultimasNovedades {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
}
@media (min-width: 481px) {
  .ultimasNovedades {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    justify-items: center;
  }
}
@media (min-width: 991px) {
  .ultimasNovedades {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    justify-items: center;
  }
}

.novedadUno {
  background-image: url(../Imagenes/battaglia.jpg);
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.novedadDos {
  background-image: url(../Imagenes/dobleindemnizacion.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.novedadTres {
  background-image: url(../Imagenes/incendio.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.novedadCuatro {
  background-image: url(../Imagenes/disciminacion.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.novedadCinco {
  background-image: url(../Imagenes/maestraDespedida.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.nov_junio {
  display: flex;
  justify-content: center;
}

.novedadesJunio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2%;
  display: grid;
  width: 80%;
  text-align: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
}
@media (min-width: 481px) {
  .novedadesJunio {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    justify-items: center;
  }
}
@media (min-width: 991px) {
  .novedadesJunio {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    justify-items: center;
  }
}

.startups {
  background-image: url(../Imagenes/despidomasivo.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.neymar {
  background-image: url(../Imagenes/neymar.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.plataformas {
  background-image: url(../Imagenes/crypto.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.cuper {
  background-image: url(../Imagenes/hectorCuper.jpg);
  background-size: cover;
  width: 60%;
  height: 200px;
  border: 2px solid white;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 2%;
}

.prueba {
  display: flex;
  justify-content: space-around;
}

.prueba3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.prueba4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.prueba2 {
  display: flex;
  justify-content: center;
}

.pruebaimg {
  display: flex;
  justify-content: center;
}

@media (max-widht: 481px) {
  .noticias a {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    column-gap: 0.5%;
    align-items: stretch;
  }
}

.enlacesturismo {
  background-color: #CCD1D1;
  color: white;
}

em {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
